{#def item, heading, indicatorHeader, txnNumber ,priceHeader#}

<section class="bg-white rounded-lg shadow-md p-4 col-span-1 mb-2 relative">
  <h2 class="text-lg font-semibold mb-4 truncate">{{ item[heading] }}</h2>
  <span
    class="text-6xl opacity-15 text-emerald-700 font-bold absolute top-0 right-0 mr-4"
    >{{ txnNumber }}</span
  >

  <!-- Form field -->
  {% if item[indicatorHeader] != "Settled" %}
  <form class="mt-4">
    <!-- Add hidden input fields for additional data -->
    <input type="hidden" name="id" value="{{ item['_id'] }}" />
    <div class="mb-4">
      <label for="notes" class="block text-gray-700">Notes:</label>
      <input type="text" id="notes" placeholder="Enter your notes here..." name="notes" class="w-full px-3 py-2 border
      border-gray-300 rounded focus:outline-none focus:border-indigo-500" />
    </div>
    <div class="flex justify-between">
      <button
        data-type="Settled"
        class="px-2 py-1 rounded w-24 flex items-center justify-between ring-1 ring-emerald-500 bg-emerald-300 hover:bg-emerald-500 transition-colors duration-200"
      >
        Settle
        <img src="static/noun-credit-card.svg" class="w-5 ml-1 text-white" />
      </button>
      <button
        data-type="Needs Split"
        class="px-2 py-1 rounded w-24 flex items-center justify-between ring-1 ring-emerald-500 hover:bg-gray-200 transition-colors duration-200"
      >
        Split
        <img class="w-5 ml-1" src="static/icons8-split-50.png" alt="split" />
      </button>
    </div>
  </form>
  {% endif %}

  <!-- Speical data if there -->
  {% if item.get("special", False) %}

  <!-- prettier-ignore -->
  <Common.OrderCard item={ item } />
  {% endif %}

  <!-- Transaction Fields -->
  <ul>
    {% for key, value in item.items() %} {% if key not in [heading, "special"]
    %}
    <li
      class="{% if key == priceHeader %} text-emerald-500 font-medium {% endif %} p-1"
    >
      <!-- Header -->
      <p class="font-extralight text-blue-900">{{ key | titleCase }}:</p>

      <!-- Value Formatting -->
      {% if 'Amt' in key or 'Balance' in key %} {{ value | currency }}
      <!-- Currency -->
      {% elif indicatorHeader in key %}
      <!-- Indicator -->
      <span
        class="inline-block rounded-full px-3 py-1 mr-2 text-sm font-semibold {% if value == 'Settled' %} bg-green-200 text-green-700 {% elif value == 'Needs Split' %} bg-yellow-200 text-yellow-700 {% elif value == 'Pending' %} bg-blue-200 text-blue-700 {% else %} bg-gray-200 text-gray-700 {% endif %}"
        >{{ value }}</span
      >
      {% elif 'Date' in key %} {{ value | date }}
      <!-- Date -->
      {% elif value is mapping %}
      <!-- Nested dict -->
      <ul>
        {% for sub_key, sub_value in value.items() %}
        <li class="text-gray-500">
          &nbsp;{{ sub_key | titleCase }}:
          <span class="text-black"> {{ sub_value }} </span>
        </li>
        {% endfor %}
      </ul>
      {% elif value.__class__.__name__ == 'list' %}
      <ul>
        {% for history_entry in value %}
        <li class="border-y p-2">
          <span class="text-gray-500 text-sm">
            {{ history_entry.timestamp | date }}
          </span>

          <span
            class="inline-block rounded-full px-2 py-1 text-xs font-medium {% if history_entry.new_indicator == 'Settled' %} bg-green-200 text-green-700 {% elif history_entry.new_indicator == 'Needs Split' %} bg-yellow-200 text-yellow-700 {% elif history_entry.new_indicator == 'Pending' %} bg-blue-200 text-blue-700 {% else %} bg-gray-200 text-gray-700 {% endif %}"
          >
            {{ history_entry.new_indicator }}
          </span>
          <br />
          {% if history_entry.previous_indicator %}
          <span class="text-gray-500 text-xs">
            (from: {{ history_entry.previous_indicator }})</span
          >
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      <!-- Default -->
      {% else %} {{ value }} {% endif %}
    </li>
    {% endif %} {% endfor %}
  </ul>
</section>
