{#def label, no_data_label="All Data", no_data_link, options, selected_option #}
<!-- do this please later -->
<section class="flex items-center space-x-4 my-2 mx-2">
  <span class="text-gray-600">{{ label }}:</span>
  {% for month in options %}
  <!-- prettier-ignore -->
  <button
  onclick="toggleQueryParam('{{month.param_name}}', '{{month.param_value}}')"
  class="bg-emerald-500 hover:bg-emerald-700 text-white font-normal py-1 px-2 rounded {% if month.name == selected_option %}bg-emerald-700 ring ring-emerald-500 {%endif%}"
  >
  {{ month.name | titleCase }}
  </button>
  {% endfor %}
</section>
