{#def unread_transactions, months, selected_month, vendor_metrics, kpi_data#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.jpeg" />
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
      defer
    />
    <link rel="stylesheet" href="/static/styles.css" defer/>
    <script src="/static/toggle.js" defer></script>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto p-6">
      <h1 class="text-3xl text-gray-800 mb-6 font-semibold">
        Welcome to the Dashboard
      </h1>
      <!-- Action Button -->
      <button
        onclick="location.href='/ingest-data'"
        {{ 'disabled' if unread_transactions|length == 0}}
        class="mb-6 bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50 disabled:hover:bg-orange-500"
      >
        Ingest Data
      </button>
      <!-- Ribbon Bar - Buttons for each month -->
      <!-- prettier-ignore -->
      <Common.RibbonBar
        label="Time Period"
        no_data_label="All Time"
        options={months}
        no_data_link="?"
        selected_option={selected_month}
      />

      <!-- KPI Cards -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <!-- Loop through each KPI -->
        {% for kpi in kpi_data %}
        <a href="{{kpi.link}}" class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-xl font-light text-gray-800 mb-2">
              {{ kpi.name }}
            </h2>
            <p class="text-3xl font-bold text-{{ kpi.color }}">
              {{ kpi.value }}
            </p>
            {% if kpi.get("subtext",False) %}
            <p class="text-sm text-gray-500">{{ kpi.subtext }}</p>
            {% endif %}
        </a>
        {% endfor %}
        <!-- Unread Transactions Files -->
        <div class="bg-white p-6 rounded-lg shadow-md col-span-2">
          <h2 class="text-xl font-light text-gray-800 mb-2">
            Unread Transactions Files ({{ unread_transactions|length }})
          </h2>
          <ul class="list-disc list-inside">
            {% for transaction in unread_transactions %}
            <li>{{ transaction }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- L2 Vendor Metrics -->
      <div class="mt-8">
        <h2 class="text-2xl font-normal text-gray-800 mb-4">Vendor Metrics</h2>
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
        >
          <!-- Vendor Cards -->
          {% for vendor, metrics in vendor_metrics.items() %}
          <div class="bg-white p-6 rounded-lg shadow-md">
            <h3 class="text-xl font-light text-gray-800 mb-2">{{ vendor }}</h3>
            <ul>
              {% for metric, value in metrics.items() %}
              <li><strong>{{ metric }}:</strong> {{ value }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
