<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table Display</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1>Welcome to Table display</h1>
    <h2>{{name}} Table</h2>
    <table>
      <thead>
        <tr>
          {% for column in df.columns.tolist()%}
          <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for index, row in df.iterrows() %}
        <tr>
          {% for value in row %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
