{#def name, months, tags, data, indicatorHeader, heading, selected_month,
vendors, selected_vendor, priceHeader, isMapped#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.jpeg" />
    <title>{{ name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" defer />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
      defer
    />
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/cards.js" defer></script>
    <script src="/static/toggle.js" defer></script>
  </head>
  <body class="bg-gray-100 container mx-auto px-4 relative">
    <header>
      <h1 class="text-3xl font-medium mt-2">{{ name }}</h1>
      <!-- Back Button -->
      <button
        onclick="location.href='/'"
        class="mb-4 bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded absolute right-5 top-5"
      >
        Go Back
      </button>
      <!-- Buttons for each month -->
      <!-- prettier-ignore -->
      <Common.RibbonBar
        label="Time Period"
        no_data_label="All Time"
        options={months}
        no_data_link="?"
        selected_option={selected_month}
      />

      <!-- Buttons for each Vendor -->
      <!-- prettier-ignore -->
      <Common.RibbonBar
        label="Vendor"
        options={vendors}
        no_data_label="No Vendor"
        no_data_link="?"
        selected_option={selected_vendor}
      />

      <!-- Info Tags bar -->
      <!-- prettier-ignore -->
      <Common.TagBar tags={ tags } />
      <!-- prettier-ignore -->
      <Common.Toggle label="Map Data"  checked={ isMapped }/>
    </header>
    <!-- Cards -->
    <main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      {% for item in data %}
      <!-- prettier-ignore -->
      <Common.Card
        item={item}
        heading={heading}
        indicatorHeader={indicatorHeader}
        txnNumber={loop.index}
        priceHeader={priceHeader}
      />
      {% endfor %}
    </main>
    <footer class="bg-orange-50">
      Credit Card by yeji Kim from
      <a
        href="https://thenounproject.com/browse/icons/term/credit-card/"
        target="_blank"
        title="Credit Card Icons"
        >Noun Project</a
      >
      (CC BY 3.0)
    </footer>
  </body>
</html>
