{#def name, months, tags, data, indicatorHeader, indicatorColors, heading,
selected_month, priceHeader#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/cards.js" defer></script>
  </head>
  <body class="bg-gray-50 container mx-auto px-4 relative">
    <header>
      <h1 class="text-3xl font-medium mt-2">{{ name }}</h1>
      <!-- Back Button -->
      <button
        onclick="location.href='/'"
        class="mb-4 bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded absolute right-5 top-5"
      >
        Go Back
      </button>
      <!-- Ribbon Bar - Buttons for each month -->
      <nav class="flex items-center space-x-4 my-2 mx-2">
        <span class="text-gray-600">Select Time Period:</span>
        <a
          href="?"
          class="bg-gray-500 hover:bg-gray-700 text-white font-normal py-1 px-4 rounded"
        >
          All Data
        </a>
        {% for month in months %}
        <a
          href="{{ month.link }}"
          class="bg-blue-500 hover:bg-blue-700 text-white font-normal py-1 px-4 rounded {% if loop.index == selected_month %}bg-blue-700 ring{%endif%}"
        >
          {{ month.name }}
        </a>
        {% endfor %}
      </nav>
      <!-- Info Tags bar -->
      <!-- prettier-ignore -->
      <Common.TagBar tags={ tags } />
      <a
        href="?phrase=zomato"
        class="bg-blue-500 hover:bg-blue-700 text-white font-normal py-1 px-4 rounded m-2"
      >
        Zomato Phrase
      </a>
    </header>
    <!-- Cards -->
    <main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      {% for item in data %}
      <!-- prettier-ignore -->
      <Common.Card
        item={item}
        heading={heading}
        indicatorHeader={indicatorHeader}
        indicatorColors={indicatorColors}
        txnNumber={loop.index}
        priceHeader={priceHeader}
      />
      {% endfor %}
    </main>
    <footer>
      Credit Card by yeji Kim from
      <a
        href="https://thenounproject.com/browse/icons/term/credit-card/"
        target="_blank"
        title="Credit Card Icons"
        >Noun Project</a
      >
      (CC BY 3.0)
    </footer>
  </body>
</html>
